* {
  margin: auto;
  padding: auto;
  font-family: 'Nunito', sans-serif;
  width: 99.8%;
}

.topnav {
  z-index: 500;
 position: fixed;
 top: 0;
 width: 100%;
 background-color: white;
 height: 2.75em;

}

.name-navbar {
 margin-left: 1em;
 width: 12.5em;
 float: left;
 position: fixed;
}

#Layer_1 {
 height: 2.75em;
}

.tabs-navbar {
 width: 8.5em;
 float: right;
 text-align: right;
 margin: 0.8em 2rem 0em 0em;

}
.inside-tab-navbar {
 text-align: right;

}

.inside-tab-navbar a, .dropdown {
 text-decoration: none;
 font-weight: bold;
}

/*/ DROPDOWN MENU /*/
.dropdown {
 float: left;
 overflow: hidden;
}

.inside-tab-navbar {
 width: 100%;
 display: none;
 z-index: 1;
 background-color: White;
}

.inside-tab-navbar a {
 float: none;
 display: block;
 text-align: center;
}

.show {
    display: block;
}

.dropdownbutton {
 background-color: inherit;
 border: 0.075em solid;
 font-weight: bold;
 font-size: 1em;
}
.dropdownbutton:hover {
 color: #ED6A5E;
}


/*/ LINKS LINKS LINKS LINKS /*/
a.name-link {
  text-decoration: none;
  color: inherit;
}

a.name-link:hover {
  text-decoration: none;
  color: inherit;
}

.link_active {
 color: #E54539;
}

/*/ LINK NAV BAR MODIFICATION /*/
a:visited {
 color: inherit;
}

a:link {
 color: inherit;
}

a:hover {
 color: #ED6A5E;
}

/*/ MARGIN TO AVOID OVERLAPPING WITH TOP NAVIGATION BAR /*/
main {
 margin-top: 3em;
}

/*/ NONVISIBLE SCROLLBAR /*/
::-webkit-scrollbar {
    display: none;
}


/*/ GRID /*/

a.progressive {
  position: relative;
  display: block;
  overflow: hidden;
  outline: none;
}

a.progressive:not(.replace) {
  cursor: default;
}

a.progressive img {

  width: 100%;
  max-width: none;
  height: auto;
  border: 0 none;
}

a.progressive img.preview {
  filter: blur(0.3vw);
  transform: scale(1);
}

a.progressive img.reveal {
  position: absolute;
  left: 0;
  top: 0;
  will-change: transform, opacity;
  animation: reveal 0.2s ease-out;
}

@keyframes reveal {
  0% {transform: scale(1.0); opacity: 0;}
  100% {transform: scale(1); opacity: 1;}
}

.grid {
 display: grid;
 grid-gap: 0.5%;
 grid-template-columns: repeat(auto-fill, minmax(400px, auto));
 grid-auto-rows: auto;
}

.horizontal {
   grid-row-end: span 20;
}
.vertical {
   grid-row-end: span 44;
}
