* {
  margin: auto;
  padding: auto;
  font-family: 'Nunito', sans-serif;
  width: 99.8%;
}

.topnav {
 position: fixed;
 top: 0;
 width: 100%;
 background-color: white;

}

.name-navbar {
 width: 40%;
 float: left;
 position: fixed;
}

.name-navbar h1 {
 margin: 0em 0em 0em 1em;
}



.tabs-navbar {
 width: 50%;
 float: right;
 text-align: right;
 margin: 1em 2.5rem 0em 0em;

}
.inside-tab-navbar {
 text-align: right;

}

.inside-tab-navbar a {
 text-decoration: none;
 font-weight: bold;
}

.name_link a {
 text-decoration: none;
 font-weight: bold;
 color: inherit;
}

/*/ LINK NAV BAR MODIFICATION /*/
a:visited {
 color: inherit;
}

a:link {
 color: inherit;
}

a:hover {
 color: #ED6A5E;
}

/*/ MARGIN TO AVOID OVERLAPPING WITH TOP NAVIGATION BAR /*/
main {
 margin-top: 3em;
}

/*/ NONVISIBLE SCROLLBAR /*/
::-webkit-scrollbar {
    display: none;
}


/*/ GRID /*/
.grid {
 display: grid;
 grid-gap: 0.5%;
 grid-template-columns: repeat(auto-fill, minmax(400px, auto));
 grid-auto-rows: auto;
}

.horizontal {
   grid-row-end: span 20;
}
.vertical {
   grid-row-end: span 45;
}
